* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 100%;
    max-height: 100vh;
    background-color: #0065C3;
    color: white;
    /* overflow: hidden; */
}

/* ...... */
header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    background-color: #0065C3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
/* ...... */
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}
.left img {
    transition: .5s ease;
}
.left img:hover{
    transform: rotate(360deg);
}
.left i {
    font-size: 36px;
    font-weight: 900;
    color: white;
}
/* ...... */
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.center a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
/* ...... */
.right button {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    transition: .5s ease;
}
.right button:hover {
    background: white;
    color: #0065C3;
}
/* ...... */




.products {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: .5s ease;
}

.whatsnew {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: .5s ease;
}

.newsletter {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: .5s ease;
}

.contact {
    width: 100%;
    height: 100vh;
    background-color: #0065C3;
    transition: .5s ease;
}
.content {
    position: fixed;
    left: 0%;
    bottom: 0%;
    top: 110vh;
    transition: .5s ease;
}

.activePage {
    transition: .5s ease;
    top: 100px;
    left: 50px;
}

.p_l {
    position:fixed ;
    top: 100px;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: transparent;
    padding-top: 200px;
    padding-left: 10px;
    z-index: 1;
}

.blockk {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: 100%;
    margin-bottom: 30px;
}

.conte{
    display: flex;
    justify-content: space-between;
    width: 80%;
    float: right;
}
.div{
    display: flex;
    gap: 10px;
}
.leftt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    align-items: flex-start;
}
.leftt h1{
    color: white;
}
.h1{
    font-size: 46px;
}
.leftt p{
    color: white;
}
.leftt h2{
    color: white;
}
.contactdiv{
    display: flex;
    flex-direction: column;
    background-color: aqua;
  padding-top: 10px 0;
    gap: 10px;
    text-align: center;
}
.contactdivv{
    background-color: rgb(55, 69, 223);
    width: 100%;
}
.leftt button{
    padding: 10px 60px;
    border-radius: 20px;
    border: 1px solid white ;
    background-color: transparent;
    color: white;
}
.contactdivvv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}